<Location /svn>
    DAV svn
    SVNParentPath /var/lib/svn
    AuthzSVNAccessFile /etc/svn/authz

    AuthType Basic
    AuthName "SVN Repository"
    AuthBasicProvider ldap

    AuthLDAPURL "ldap://your.ldap.server/ou=users,dc=ldap,dc=createchstudio,dc=com?mail?sub?(objectClass=person)"

    AuthLDAPBindDN "cn=your-ldap-bind-username,ou=users,dc=your,dc=ldap,dc=server"
    AuthLDAPBindPassword "your-ldap-bind-password"

    Require valid-user
</Location>
